@import "tailwindcss";

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@theme {
  --font-huninn: 'jf-openhuninn', 'sans-serif';

  --color-brown-400: #71451c;
  --color-brown-600: #4A2C2A;
  --color-brown-100: #DFD9C9;

  --animate-fade-in-left: fadeInLeft 0.8s ease-out forwards;
  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;
}



.back-home-btn .icon {
  display: none;
}

@media (max-width: 768px) {
  .back-home-btn .text {
    display: none;
  }

  .back-home-btn .icon {
    display: inline;
    font-size: 1.5rem;
  }
}


.page-background {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("@/assets/images/Backgound_N.png");
  background-size: cover;
  background-position: center;
}


.content-scroller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 1;
  /* Ensure content is above clouds */
}